In [3]:
import pandas as pd

In [8]:
#make this list a pandas series
animal_series= pd.Series(["dog", "cat", "parrot", "hamster", "pig", "horse", "cow", "goat"])
animal_series

0        dog
1        cat
2     parrot
3    hamster
4        pig
5      horse
6        cow
7       goat
dtype: object

Determine the number of elements in series.

In [9]:
len(animal_series)

8

Output only the index from series.

In [10]:
animal_series.index

RangeIndex(start=0, stop=8, step=1)

Output only the values from series.

In [11]:
animal_series.values

array(['dog', 'cat', 'parrot', 'hamster', 'pig', 'horse', 'cow', 'goat'],
      dtype=object)

Confirm the data type of the values in series.

In [13]:
type(animal_series)

pandas.core.series.Series

Output only the first five values from series. Output the last three values. Output two random values from series.

In [14]:
animal_series.head(5) #return first 5 values

0        dog
1        cat
2     parrot
3    hamster
4        pig
dtype: object

In [15]:
animal_series.tail(3) # returns last 3 values

5    horse
6      cow
7     goat
dtype: object

In [16]:
animal_series.sample(2) # returns 2 random samples

7      goat
2    parrot
dtype: object

Run the .describe() on series to see what information it returns when called on a Series with string values.

In [17]:
animal_series.describe()

count           8
unique          8
top       hamster
freq            1
dtype: object

Run the code necessary to produce only the unique string values from series.

In [19]:
animal_series.value_counts()

hamster    1
dog        1
cat        1
pig        1
horse      1
cow        1
parrot     1
goat       1
dtype: int64